[Unit]
Description=USB Camera MJPEG Streaming Service (port 8001)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/pyProject/pi_camera/usb_camera_stream.py
WorkingDirectory=/home/pi/pyProject/pi_camera
Environment=ROTATE=0
Environment=PORT=8001
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=3
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
